.container--deals .paragraph {
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 1.7rem;
  margin: 0;
}

.container--link {
  justify-content: center;
}

.container--question {
  justify-content: center;
}

.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #03034E;
}

.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034E;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034E;
}

.container--title {
  color: #03034E;
  font-size: 28px;
  font-weight: 700;
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }
  .container--about {
    max-width: 85%;
  }
  .container--title {
    color: #03034E;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }
  .container--title .paragraph {
    line-height: 1.3em;
  }
}
.strong {
  font-family: "FuturaBT-Heavy";
  font-weight: normal;
}

.paragraph--footer-copyright {
  font-size: 1.1rem;
}
@media (max-width: 769px) {
  .paragraph--footer-copyright {
    margin-bottom: 20px;
  }
}

.wrapper--header-contato-content {
  width: 100%;
}

.paragraph--header-contato-content {
  margin: 0;
  position: relative;
  padding: 12px 8px 12px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.paragraph--header-contato-content .link {
  text-decoration: unset;
  color: initial;
}
.paragraph--header-contato-content .link:hover {
  font-family: "FuturaBT-Medium";
}
.paragraph--header-contato-content::after {
  content: "";
  width: 5px;
  height: 5px;
  display: block;
  border-right: #585858 1px solid;
  border-top: #585858 1px solid;
  transform: rotate(45deg);
}
.paragraph--header-contato-content::before {
  position: absolute;
  left: 5px;
  top: 13px;
}

.paragraph--header-contato-content-whatsapp::before {
  content: url(assets/img/whatsapp2.svg);
}

.paragraph--header-contato-content-lojas::before {
  content: url(assets/img/local.svg);
}

.paragraph--header-contato-content-devolucoes::before {
  content: url(assets/img/devolucoes.svg);
}

.paragraph--header-contato-content-duvidas::before {
  content: url(assets/img/duvidas.svg);
}

.paragraph--footer-newsletter-text {
  color: white;
}
@media (min-width: 770px) {
  .paragraph--footer-newsletter-text {
    font-size: 1.6rem;
  }
  .paragraph--footer-newsletter-text .strong {
    font-size: 2rem;
  }
}
@media (max-width: 769px) {
  .paragraph--footer-newsletter-text {
    font-size: 1.4rem;
  }
  .paragraph--footer-newsletter-text .strong {
    font-size: 1.8rem;
  }
}

@media (max-width: 769px) {
  .container--footer-newsletter-text {
    justify-content: center;
    text-align: center;
  }
}

.wrapper--footer-whatsapp {
  padding-left: 30px;
  position: relative;
  margin-top: 5px;
}
.wrapper--footer-whatsapp::before {
  content: url(assets/img/whatsapp.svg);
  position: absolute;
  left: 0;
  top: 0;
}
.wrapper--footer-whatsapp .paragraph {
  margin: 0;
}
.wrapper--footer-whatsapp .link {
  color: initial;
  display: block;
}

.paragraph--shelf-link {
  margin-top: 5px;
}

.container--title-minicart {
  margin: 0 auto;
}
.container--title-minicart .paragraph {
  font-family: "FuturaBT-Heavy";
}

.paragraph--home-slide-de-banners-titulo, .heading--home-slide-de-banners-titulo {
  font-family: "FuturaBT-Light";
  margin: 0;
  text-transform: uppercase;
}
@media (min-width: 770px) {
  .paragraph--home-slide-de-banners-titulo, .heading--home-slide-de-banners-titulo {
    font-size: 2.4rem;
  }
}
@media (max-width: 769px) {
  .paragraph--home-slide-de-banners-titulo, .heading--home-slide-de-banners-titulo {
    font-size: 2rem;
  }
}

.container--layout-option {
  margin-left: 0.3em;
}

.paragraph--layout-option {
  margin: 0;
}

.paragraph--summarySpecificationBullet {
  margin: 0;
  line-height: initial;
  font-size: 1.25rem;
  line-height: 1.15rem;
}