.menuContainer {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  z-index: 1000;
}

.wrapper--main-menu-header{
  margin: 0;
}

:global(.bold){
  font-family: 'FuturaBT-Heavy'
}
:global(.underline){
  text-decoration: underline !important;
}

.menuLink {
  &:global(.level-1){
    text-decoration: none;  
    text-transform: uppercase;
    transition: color 0.3s ease;
    border-bottom: 2px transparent solid;
    padding: 12px 0;
    display: block;
    @media(min-width:1024px){
      &:hover{
        border-bottom-color: #1D1B1A;
      }
    }
  } 
}  
.submenuContainer {
  position: absolute;
  left: 0;
  background-color: white;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, .05);
  padding: 35px 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%; 
  z-index: 1000;
  @media(max-width:1024px){
    flex-direction: column;
  }
  @media(min-width:1024px){
    &:before{
      content: "";
      background: rgba(0,0,0,.40);
      width: 100%;
      height: 1000%;
      position: absolute;
      left: 0;
      top: 100%;
      pointer-events: none;
    }
  }
}

.submenuContainer.level-1 {
  display: none;
}

.submenuItem {
  margin-bottom: 10px;
  @media (min-width: 1024px) {
    margin-right: 20px;
    min-width: 105px;
  }
}

.wrapper {
  display: flex;
  list-style: none;
  padding: 0;
  @media (max-width: 1024px) {
    display: block;
  } 
}

.submenuWrapper {
  display: flex;
  list-style: none;
  padding: 10px 0; 
  .menuLink {
    text-decoration: none;  
    transition: color 0.3s ease;
  } 
  @media (max-width: 1024px) {
    display: block;   
  }
  @media (min-width: 1024px) { 
    :global(.level-2){
      flex-direction: column;
    } 
  }
}

.submenuWrapper.level-2 {
 display: block;
}

.submenuWrapper.level-1 {
  padding: 0;

}
.bannerLink {
  text-decoration: unset;
}
.bannerContainer {
  margin: 0 0 0 40px; 
}

.bannerImage {
  height: auto;
}

.bannerText{
  text-transform: uppercase;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #1D1B1A;
  font-family: 'FuturaBT-Heavy';
  gap: 10px;
  margin-top: 20px;
}

.submenuTitleCol{
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: 'FuturaBT-Heavy';
  margin-bottom: 8px;
  display: block;
}

@media (max-width: 768px) {
  .menuContainer {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  } 
  .menuItem {
    width: 100%;
  }

  .menuLink { 
    &:global(.level-1){
      font-size: 1.6rem;
      text-transform: uppercase;
      border-bottom: #ECEAE6 1px solid;
      display: flex;
      align-items: center;
      justify-content: space-between;  
      padding: 16px 5px;  
      margin: 0 15px; 
      .submenuToggleIcon::after {
        content: url('./plus.svg');
        display: block;  
      }
    } 
  }
  .submenuContainer {
    position: static;
    flex-direction: column !important;
    padding: 10px 0;
    box-shadow: none;
    width: 100%;
    background-color: #ECEAE6;
    padding: 0 25px; 
  }

  .submenuItem {
    margin-bottom: 5px;
  }

  .bannerContainer {
    margin-left: 0;
    margin-top: 10px;
    text-align: center;
  }

  .bannerImage {
    width: 100%;
    max-width: 300px;
  }
  .submenuWrapper{ 
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
    &:global(.level-1) :global(li){
      width: 100%;
    }
    &:global(.level-2):global(.divide-coluna){
      border-bottom: #1D1B1A solid 1px;
      margin-bottom: 10px;
      :global(li){
        width: 48%;
      }
    }
    .menuLink {
      padding: 0;
      margin: 7px 0;
    }
  }
  .submenuWrapper.level-1 {
    display: none;
    
  }
  .submenuWrapper.level-1.openSubmenu {
    display: block; 
  }
  .menuItem--main-menu-header:global(.level-1){
    width: 100%; 
  }
  .wrapper--main-menu-header{
    width: 100%; 
  }
}
@media (min-width: 769px) {  
  .menuItem--main-menu-header:global(.level-1){
    padding: 0 20px;  
  }
}