.newsletterform__formInputName, .newsletterform__formInputEmail {
    color: white;
    background-color: transparent !important;
    border: 0;
    border-bottom: 1px solid white;
    padding: 10px;
    font-family: "FuturaBT-Medium";
    outline: none; 
    height: 40px; 
    width: calc(50% - 100px);
}
.newsletterform__formSubmit{
    font-family: "FuturaBT-Medium";
    color: #1D1B1A;
    width: 150px;
    height: 40px;
    border: 0;
}
.newsletterform{
    position: relative; 
}
.newsletterform__form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
}

.newsletterform__aviso{
    width: 100%;
    margin: -17px 0 0 0;
    color: white;
    font-size: 12px;
    font-family: "FuturaBT-Light";
    :global(a){ 
        color: white; 
    }
}
.newsletterform__success{
    position: absolute;
    background: #1d1b1a;
    padding: 2px 6px;
    font-size: 12px;
    bottom: 0;
    left: -1px;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 3px;
    color: #76cf76;
    font-family: "FuturaBT-Medium";
    display: none;
}

@media (max-width: 769px) {
    .newsletterform__formInputName, .newsletterform__formInputEmail, 
    .newsletterform__formSubmit{
        width: 100%;
    }
    .newsletterform__form{
        gap: 15px;
        padding: 0 20px;
    }
    .newsletterform__aviso{
        width: 220px;
        text-align: center;
        margin: 0 auto 25px;
    }
}