.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 10px 5px 10px 20px; 
} 

.flexRowContent--deals {
  background-color: $cinza; 
  @include desktop{
    padding-left: 7%;
    padding-right: 7%;
  }
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
  margin-bottom: 5px;
  padding-top: 5px;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}

.flexRowContent--topo-header{
  background-color: $cinza;
  
  :global(.vtex-rich-text-0-x-paragraph){
    margin: 0;
    padding: 4px;
    &::before {
      content: '';
      display: inline-block;
      width: 23px;
      height: 16px;
      background-image: url('assets/img/cartao.svg');
      background-size: contain;
      background-repeat: no-repeat;
      position: relative;
      top: 2px;
      margin-right: 10px;
    }
  }
} 

// CUSTOM 
.flexCol--row-with-gap-30{
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.flexCol--row-with-gap-25{
  flex-direction: row;
  align-items: center;
  gap: 25px;
}
.flexCol--row-with-gap-10{
  flex-direction: row;
  gap: 10px;
}

.flexCol--header-row3-right{
  :global(.vtex-login-2-x-label),:global(.vtex-login-2-x-profile ){
    font-size: 0; 
    padding: 0;
    display: inline-block;
    width: 17px;
    height: 20px;
    background-image: url('assets/img/user.svg');
    background-size: contain;
    background-repeat: no-repeat;  
  }
  :global(.vtex-login-2-x-container){
    :global(.vtex-button__label){
      padding: 0 !important;
    }
    :global(.vtex-button){
      background-color: transparent !important;
    }
  }
}

.flexRow--footer-newsletter{
  background-color: #1D1B1A;
  position: relative;
}
.flexRow--footer-3{
  @include desktop{
    background-color: $cinza;
  }
  @include mobile{
    padding-bottom: 25px;
  }
}

.flexRowContent--trio-de-banners{
  @include desktop{
    gap: 8px;
  }
  @include mobile{
    .stretchChildrenWidth{
      margin-bottom: 20px;
    }
  }
}

.flexRow--trio-de-banners{
  :global(.vtex-image-and-text-0-x-image){
    width: 100%;
  }
  :global(.vtex-image-and-text-0-x-text){
    font-size: 3.2rem;
    color: white; 
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 30px;
    font-family: 'FuturaBT-Light';
    font-weight: normal;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &::after{
      content: url('assets/img/seta-branca.svg');
    }
    @include mobile{
      font-size: 2.6rem;
      padding: 20px;
    }
  }
  :global(.vtex-image-and-text-0-x-block){
    position: relative;
  }
  :global(.vtex-image-and-text-0-x-gradient){
    background-image: linear-gradient(transparent 20%, #1D1B1ACC);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.flexRow--header-contato{
  position: relative;
  &:hover{
    .flexCol--header-contato-content{
      display: flex;
    }
  }
}

.flexCol--header-contato-content{
  position: absolute;
  display: none;
  background-color: white;
  width: 240px;
  padding: 0 12px;
  left: -4px;
  top: 32px;
  height: fit-content;
  box-shadow: $box-shadow;
  &::before{
    content: "";
    display: block;
    height: 30px;
    width: 50%;
    position: absolute;
    left: 0;
    top: -15px;
  }
}
.flexColChild--header-contato-content {
  border-bottom: 1px solid $cinza;
}

.flexRowContent--footer-2-desktop { 
  :global(.vtex-menu-2-x-styledLinkContainer--footer_menu) {
    margin: 3px 0;
  }
}
.flexRowContent--footer-2-desktop,.flexRowContent--footer-2-mobile { 
  :global(.vtex-rich-text-0-x-paragraph--footer-title)  {
    margin: 0 0 5px 0; 
  }
}
.flexRow--footer-2-mobile{
  :global(.vtex-disclosure-layout-1-x-content ){
    :global(.vtex-menu-2-x-menuItem--footer_menu)  {
      margin: 4px 0;
    }
    :global(.vtex-menu-2-x-menuContainer){
      margin-bottom: 10px;
    }
    :global(.vtex-rich-text-0-x-container--footer-whatsapp){
      margin-left: 15px;
      margin-bottom: 10px;
    }
  }
  :global(.vtex-disclosure-layout-1-x-trigger){
    border: 0;
    background: transparent;
    border-bottom: 1px #D9D9D9 solid;
    width: 100%;
    padding: 13px 10px; 
    :global(.vtex-rich-text-0-x-wrapper)  {
      width: 100%;
    }
    :global(.vtex-rich-text-0-x-paragraph)  {
      margin: 0; 
      font-size: 1.6rem;
      display: flex;
      justify-content: space-between;
      &::after{
        content: url(assets/img/seta-disclosure.svg);
        display: block;
      }
    }
    &:global(.vtex-disclosure-layout-1-x-trigger--hidden) :global(.vtex-rich-text-0-x-paragraph){
      &::after{
        transform: scaleY(-1);
        transition: all 0.3s ease;
      }
    }
  }
}

.flexCol--footer-2-redes-sociais-mobile{
  justify-content: center;
  text-align: center;
  :global(.vtex-rich-text-0-x-container){
    justify-content: center;
  }
  :global(.vtex-rich-text-0-x-paragraph){
    font-size: 1.6rem;
  }
}

.flexColChild--footer-2-redes-sociais-mobile {
  .flexRowContent {
    justify-content: center;
  }
}
.flexRowContent--shelfTitle{
  @include desktop{
    padding: 0 4%;
  }
  :global(.vtex-rich-text-0-x-heading){
    font-family: 'FuturaBT-Light'; 
    margin: 0;
    @include desktop{
      font-size: 2.4rem;
    }
    @include mobile{
      font-size: 2.0rem;
    }
  }
  :global(.vtex-rich-text-0-x-container){
    align-items: center;
  }
  :global(.vtex-rich-text-0-x-container--shelf-link ){
    @include desktop{
      justify-content: end;
    }
  }
  :global(.vtex-rich-text-0-x-link--shelf-link){
    color: initial;
    text-transform: uppercase; 
    @include desktop{
      font-size: 1.6rem;
    }
    @include mobile{
      font-size: 1.4rem;
    }
  }
}

.flexRow--contato-fixo{
  position: fixed;
  right: 0;
  bottom: 10%;
  :global(.vtex-disclosure-layout-1-x-trigger){
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(255, 255, 255, .15);
    background-color: #1D1B1A;
    border: 0;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    &:global(.vtex-disclosure-layout-1-x-trigger--visible)::before{
      content: url(assets/img/white-close.svg);
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      background: #1D1B1A;
      width: 100%;
      height: 100%;
    }
  }
  :global(.vtex-disclosure-layout-1-x-content){
    position: absolute;
    right: 20px;
    bottom: 55px;
    background: white;
    width: 215px;
    height: auto;
    padding: 0 10px;
  }
  :global(.vtex-rich-text-0-x-paragraph--header-contato-content)::after {
    display: none;
  }
}
.flexRow--minicart-footer{
  background-color: $cinza;
  padding: 0 10px;
}
.flexRowContent--minicart-header{
  display: grid;
  grid-template-columns: 70px 1fr 70px; 
  align-items: center;
  margin: 0;
  padding: 0 10px;
}
.flexRow--minicart-header{
  box-shadow: $box-shadow;
  margin-bottom: 10px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
} 
.flexColChild--empty-state2{
  width: 90%; 
}

.flexRow--bg-cinza{
  background-color: $cinza;
}