.sliderLayoutContainer {
  justify-content: center;
}
 
.sliderTrackContainer {
  max-width: 100%;
}

.paginationDotsContainer { 
  margin-bottom: 2rem;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px; 
}

.slide--shelf {
  margin-bottom: 25px;
  padding-left: .5rem;
  padding-right: .5rem; 
}

.sliderLayoutContainer--shelf{
  padding-left: 0 !important;
  padding-right: 0 !important; 
}
.sliderLayoutContainer{
  .sliderArrows{
    background-color: rgba(255,255,255,.4) !important;
    padding: 7px;
    .caretIcon{
      zoom: .5;
    }
  }
}

.sliderLayoutContainer--carousel-fullbanner-home{
  height: 100vh;
  .sliderTrackContainer, .sliderTrack {
    height: 100%;
    width: 100%; 
  }
  .imageElement {
    height: 100%;
    max-height: 100% !important;
    width: 100%;
    object-fit: cover;
  }
}
 
.paginationDot--carousel-fullbanner-home--isActive{
  background-color: rgba(255, 255, 255) !important;
} 
.paginationDot--carousel-fullbanner-home{ 
  background-color: rgba(255,255,255,0.4);
  height: 3px !important;
  border-radius: 0;
  padding: 0;
  margin: 0 5px;
  @include desktop{
    width: 57px !important;
  }
  @include mobile{
    width: 48px !important;
  }
}


@include desktop{
  .sliderLeftArrow--carousel-fullbanner-home{
    left: 3rem;
  }
  .sliderRightArrow--carousel-fullbanner-home{
    right: 3rem;
  }
}
@include mobile{
  .sliderLeftArrow--carousel-fullbanner-home{
    left: 1.5rem;
  }
  .sliderRightArrow--carousel-fullbanner-home{
    right: 1.5rem;
  }
}