.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}

@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}

.flexRowContent--menu-link {
  background-color: #03044e;
  color: #fff;
} 

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #f0f0f0;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}

.flexRowContent--deals {
  background-color: $cinza; 
  @include desktop{
    padding-left: 7%;
    padding-right: 7%;
  }
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
  margin-bottom: 5px;
  padding-top: 5px;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}

.flexRowContent--topo-header{
  background-color: $cinza;
  
  :global(.vtex-rich-text-0-x-paragraph){
    margin: 0;
    padding: 4px;
    &::before {
      content: '';
      display: inline-block;
      width: 23px;
      height: 16px;
      background-image: url('assets/img/cartao.svg');
      background-size: contain;
      background-repeat: no-repeat;
      position: relative;
      top: 2px;
      margin-right: 10px;
    }
  }
} 

// CUSTOM 
.flexCol--row-with-gap-30{
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.flexCol--row-with-gap-10{
  flex-direction: row;
  gap: 10px;
}

.flexCol--header-row3-right{
  :global(.vtex-login-2-x-label){
    font-size: 0; 
    padding: 0;
    display: inline-block;
    width: 17px;
    height: 20px;
    background-image: url('assets/img/user.svg');
    background-size: contain;
    background-repeat: no-repeat;  
  }
  :global(.vtex-login-2-x-container){
    :global(.vtex-button__label){
      padding: 0 !important;
    }
  }
}

.flexRow--footer-newsletter{
  background-color: #1D1B1A;
  position: relative;
}
.flexRow--footer-3-desktop{
  background-color: $cinza;
}

.flexRow--trio-de-banners{
  .text{
    font-size: 3.2rem;
    color: white; 
    position: absolute;
    bottom: 0;
  }
}