@font-face {
    font-family: 'FuturaBT-Bold';
    src: url('assets/fonts/FuturaBT-Bold.woff2') format('woff2'),
        url('assets/fonts/FuturaBT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaBT-Light';
    src: url('assets/fonts/FuturaBT-Light.woff2') format('woff2'),
        url('assets/fonts/FuturaBT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaBT-Medium';
    src: url('assets/fonts/FuturaBT-Medium.woff2') format('woff2'),
        url('assets/fonts/FuturaBT-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaBT-Heavy';
    src: url('assets/fonts/FuturaBT-Heavy.woff2') format('woff2'),
        url('assets/fonts/FuturaBT-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaBT-Book';
    src: url('assets/fonts/FuturaBT-Book.woff2') format('woff2'),
        url('assets/fonts/FuturaBT-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

